html, body {
  margin: 0;
  padding: 0;
}
*{
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}

canvas {
  display: block;
  margin: auto;
  margin-top: 100px;
}
main{
  text-align: center;
}
h1{
  font-size: 30px;
}


